<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记录添加</title>
    <style>
        form {
            margin: 20px auto;
            width: 500px;
            border: 10px solid #ccc;
            padding: 20px
        }
    </style>
</head>
<body>
<form method="post" action="../add/">
    {% csrf_token %}
    <table border="1px" width="100%" style="border-collapse: text-align:left; font-size: 9pt;">
        <tr>
            <th>线路状况</th>
            <td><input name="xlqk" required="required"></td>
        </tr>
        <tr>
            <th>故障处理</th>
            <td><input name="gzcl" required="required"/></td>
        </tr>
        <tr>
            <th>巡检人</th>
            <td><input name="xjr"></td>
        </tr>
        <tr>
            <th>审核人</th>
            <td><input name="shr"/></td>
        </tr>
        <tr>
            <th>日期</th>
            <td><input name="rq"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td><input name="bz"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>