<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记录添加</title>
    <style>
        form {
            margin: 20px auto;
            width: 500px;
            border: 10px solid #ccc;
            padding: 20px
        }
    </style>
</head>
<body>
<form method="post" action="../add/">
    {% csrf_token %}
    <table border="1px" width="100%" style="border-collapse: text-align:left; font-size: 9pt;">
        <tr>
            <th>日期</th>
            <td><input name="rq" required="required"></td>
        </tr>
        <tr>
            <th>时间</th>
            <td><input name="sj" required="required"/></td>
        </tr>
        <tr>
            <th>是否消杀</th>
            <td><input name="sfxs"></td>
        </tr>
        <tr>
            <th>值班人员</th>
            <td><input name="zbry"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>